# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# CA1716 識別子はキーワードと同一にすることはできません
# 一時的に警告にレベルを落とす
dotnet_diagnostic.CA1716.severity = warning

# IDE0008: 明示的な型の使用
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

# IDE0022: メソッドにブロック本体を使用する
dotnet_diagnostic.IDE0022.severity = silent

# IDE0023: 変換演算子にブロック本体を使用する
dotnet_diagnostic.IDE0023.severity = silent

# IDE0024: オペレーターにブロック本体を使用する
dotnet_diagnostic.IDE0024.severity = silent

# IDE0040: アクセシビリティ修飾子を追加します
dotnet_style_require_accessibility_modifiers = omit_if_default

# IDE0046: 条件式に変換します
dotnet_diagnostic.IDE0046.severity = silent

# IDE0130: Namespace がフォルダー構造と一致しません
dotnet_diagnostic.IDE0130.severity = silent
