*.cs            text eol=lf
*.csproj        text
*.editorconfig  text
*.gitattributes text eol=lf
*.gitignore     text eol=lf
*.json          text eol=lf
*.rs            text eol=lf
*.sln           text
Cargo.toml      text eol=lf
Cargo.lock      text eol=lf
